{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
     <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin=""></script>

{% endblock %}

{% block content %}


<div class="row">
    <div class="col-xs-6" id="div1">
        <div id="mapid"></div>
    </div>
    <div class="col-xs-6" id="div2">
        <div id="info"></div>
    </div>
</div>




{% block javascript %}
<script>
    var map = L.map('mapid').setView([-41.2728, 173.2995], 5.5);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiLXZpa3Rvci0iLCJhIjoiY2pzam9mNXVoMm9xdzQ0b2FmNnNqODE4NCJ9.AnNONHzKRb5vdl2Ikw2l2Q'
    }).addTo(map);
    var map_faults = L.layerGroup();
        map_faults.clearLayers();
    var json = {{ fault_traces|tojson }};
    var popup = L.popup();
    var dicts = [];
    for (var i = 0; i < json.length; i++) {
        (function () {
            var d = json[i];
            dicts.push({'name': d.name, 'layer': null});
            var info = "Fault Name: " + d.name + '</br>' + "Magnitude: " + d.magnitude + '</br>' + "Slip Rate: " + d.slip_rate + ' mm/yr' + '</br>' + "Annual Likelyhood: " + (1 / d.recurrence_interval)bb  + '</br><a href=' + d.video + '> Simulation Video </a>';
            var planeLayer = L.polygon(d.planes, {
                    color: "black",
                    opacity: 0.5,
                    weight: 2,
                    dashArray: "4 1 2 "
                });
            map_faults.addLayer(planeLayer
                    .bindPopup(popup)
                    .on("mouseover", function (e) {
                        e.target.setStyle({
                            color: "red",
                            opacity: 1,
                            weight: 5
                        });
                        e.target.getPopup().setLatLng(e.latlng).openOn(map);
                        e.target.getPopup().setContent(info);
//                            e.target.getPopup().setContent(d.name + '</br><a href=' + d.video + '> Simulation Video </a>');
                    })
                    .on("mouseout", function (e) {
                        e.target.setStyle({
                            color: "black",
                            opacity: 0.5,
                            weight: 2
                        });
                        e.target.closePopup();
                    })
                    .on("click", function (e) {
                         e.target.setStyle({
                            color: "red",
                            opacity: 1,
                            weight: 5
                        });
                         e.target.closePopup();
//                        e.target.getPopup().setContent(d.name);
//                        e.target.getPopup().setLatLng(e.latlng).openOn(map);

//                        document.getElementById('info').innerHTML = "Fault name: " + d.name
                        document.getElementById('info').innerHTML = info;
                         var image_url = "../static/data/v18p6_rerun_srf_plots/".concat(d.name);
                            var imageBounds = L.latLngBounds(d.planes);
                            var image_layer = L.imageOverlay(image_url, imageBounds);
                       for (var k = 0; k < dicts.length; k++){
                           if (dicts[k]['name'] == d.name){
                               if (dicts[k]['layer'] !== null){
                                    map_faults.removeLayer(dicts[k]['layer']);
                                    dicts[k]['layer'] = null;
                                    break
                               }else{
                                   map_faults.addLayer(image_layer);
                                   dicts[k]['layer'] = image_layer;
                               }
                           }
                       }

                    })
            );
                for (var j = 0; j < d.planes.length; j++) {
                    (function () {
                        var plane = d.planes[j];
//                        console.log(plane);
                        map_faults.addLayer(L.polyline([plane[0], plane[1]], {
                            color: "black",
                            opacity: 0.5,
                            weight: 5
                        })
                        );
                    })();
                }
            })();
        }
        map_faults.addTo(map);


</script>
{% endblock %}
{% endblock %}


